@charset "ISO-8859-1";

body, div, h1, label, input {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Arial, sans-serif;
        
    }
    .form {
        width: 500px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .input-box {
        margin-bottom: 15px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #update {
        display: block;
        width: 100%;
        background: #007BFF;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #update:hover {
        background: #0056b3;
    }